main {
    margin-top: 150px;
}


.image-mosaic {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}
  
.image {
    display: inline-block;
}
  
.image img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}
  
.image:hover img {
    transform: scale(1.1);
}