body {
    background-image: url("../pics/background2.jpg");
    height: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navbar */
nav {   
    background-image: radial-gradient(circle, rgba(142, 112, 77, 0.8), rgba(255, 255, 255, 0.1));
    display: flex;
    justify-content: center;
    height: 15%;
    width: 100%;
    position: fixed;
    position: fixed;
    top: 0;
    left: 0;
}

nav a {
    color: black;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 30px;
    text-decoration: none;
}

nav a:hover {
    color: black;
}

nav img {  
    width: auto;
    height: 100%;
}

/* Footer */
footer {
    background-image: radial-gradient(circle, rgba(142, 112, 77, 0.8), rgba(255, 255, 255, 0.1));
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.social-icons {
    display: inline-block;
    margin-bottom: 1px;
}

.social-icons a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    margin: 0 5px;
}

.social:hover {
    color: #49260a;
}