/* Home styles */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-container {
    background-image: url("pics/background1.jpg");
    height: 100%;
    background-size: conver;
    background-position: center;
    background-repeat: no-repeat;
}

/* Navbar */
.navbar {   
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 15%;
}

.navbar a {
    color: black;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 30px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar img {  
    width: auto;
    height: 100%;
}

.navLink {
    
}

/* Footer */
footer {
    background-color: #666363;
    padding-top: 8px;
    padding-bottom: 1px;
    text-align: center;
}

.social-icons {
    display: inline-block;
    margin-bottom: 1px;
}

.social-icons a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    margin: 0 5px;
}

.social:hover {
    color: #4a4a4a;
}

/* Menu styles */




/* Gallery styles */
.slider {
    background-color: bisque;
    width: 100%;
    height: 1000px;
    margin: 100px 0px;
}

/* Position the image container (needed to position the left and right arrows) */
.slide-show {
    position: relative;
    width: 50%;
    height: 70%;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}



/* Reservation styles */
.input-container {
    font-family: sspReg;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-bottom-left-radius: 0%;
    border-top-left-radius: 0%;
    padding: 10px;
    width: 300px;
    margin: 5px;
    margin-left: 0%;
    vertical-align: middle;
  }
  
 #last-name {
    width: 138px;
    margin-right: 0;
 }
 
 #first-name {
    width: 138px;
    border-radius : 0; 
    margin-right: 0%;
 }
  
  .inputs-addon {
    font-family: sspReg;
    background-color: #e2e0e0;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    padding: 8.5px;
    margin: 5px;
    margin-right: 0%;
    vertical-align: middle;
  }
  
  .inputs-addon i {
    width: 12px;
    height: 12px;
  }

.box {
    align-items: top;
    font-family: sspReg;
    background-color: #f6f3f3;
    padding: 10px;
    width: 600px;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 6px;
}

.title {
    font-family: sspBold;
}

@font-face {
    font-family: sspReg;
    src: url(fonts/SourceSansPro-Regular.otf);
}

@font-face {
    font-family: sspBold;
    src: url(fonts/SourceSansPro-Bold.otf);
}


  
/* About styles */



/* Contact styles */